.individual-news-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  }
  
  body {
    /* overflow: hidden;  */
   /* width: 100%; */
   height: 100%;
   position: relative;
   background-color:  #6f6fa7;
 }
  
  .individual-news-page .nav-bar {
    display: flex;
    width: 1440px;
    height: 114px;
    align-items: center;
    justify-content: center;
    gap: 62px;
    padding: 12px 0px;
    top: 7px;
    left: (100% - 1440px) /2;
    background-color: #d5d5e8;
    overflow: hidden;
    position: fixed;
    box-shadow:0 4px 6px #3f3f95;
    z-index: 1; 
  }
  
  .individual-news-page .butoane {
    display: inline-flex;
    height: 124px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px 0px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -17px;
    margin-bottom: -17px;
    background-color: #d5d5e8;
  }
  
  .individual-news-page .sigla {
    position: relative;
    width: 85px;
    height: 85px;
    object-fit: cover;
  }
  
  .individual-news-page .div {
    display: inline-flex;
    height: 123px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -11.5px;
    margin-bottom: -11.5px;
  }
  
  .individual-news-page .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #3f3f95;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .vector {
    position: relative;
    width: 21px;
    height: 13px;
    margin-right: -2px;
  }
  
  .individual-news-page .facebook {
    position: relative;
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .facebook:hover {
    transform: scale(1.1);
  }

  .individual-news-page .instagram {
    position: relative;
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .instagram:hover {
    transform: scale(1.1);
  }

  .individual-news-page .youtube {
    position: relative;
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .youtube:hover {
    transform: scale(1.1);
  }

  .individual-news-page .twitter {
    position: relative;
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .twitter:hover {
    transform: scale(1.1);
  }

  .individual-news-page .tik_tok {
    position: relative;
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .tik_tok:hover {
    transform: scale(1.1);
  }
  
  .individual-news-page .log-in {
    display: inline-flex;
    height: 124px;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -17px;
    margin-bottom: -17px;
    background-color: #d5d5e8;
  }
  
  .individual-news-page .STAFF-TAG {
    display: inline-flex;
    height: 123px;
    align-items: center;
    justify-content: center;
    gap: 11px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -11.5px;
    margin-bottom: -11.5px;
  }
  
  .individual-news-page .user-icon {
    position: relative;
    width: 31px;
    height: 32px;
  }
  
  .individual-news-page .header-tab {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 176px;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 40px 0px;
    position: absolute;
    top: 134px;
    /* left: 0; */
    background-color: #6f6fa7;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .individual-news-page .CSU-SUCEAVA-s-AU {
    position: relative;
    width: 1050px;
    margin-top: -26px;
    margin-bottom: -22px;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .body {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* padding: 0px 200px 50px; */
    position: absolute;
    flex: 0 0 auto;
    background-color: #d5d5e8;
    top:390px;
    height: 1650px;
  }
  
  .individual-news-page .stire {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 40px 0px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .individual-news-page .rectangle {
    width: 1050px;
    height: 630.64px;
    position: relative;
    object-fit: cover;
  }
  
  .individual-news-page .frame {
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .text-wrapper-2 {
    position: relative;
    width: 800px;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #6f6fa7;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .it-is-a-long {
    position: relative;
    width: 800px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .alte-poze {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 3px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .div-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
  }

  .individual-news-page .divv {
    overflow: hidden;
    width: 1440px;
    height: 2394px;
    position: relative;
  }
  
  .individual-news-page .img-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    position: relative;
    flex: 0 0 auto;
    background-color: #9197a8;
    border-radius: 38px;
    overflow: hidden;
  }
  
  .individual-news-page .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .individual-news-page .stire-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .rectangle-2 {
    position: relative;
    width: 300px;
    height: 177.1px;
    object-fit: cover;
  }
  
  .individual-news-page .alte-stiri {
    margin-left: -5px;
    margin-right: -5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #3f3f95;
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 3px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .p {
    position: relative;
    width: 1050px;
    margin-top: -1px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .frame-2 {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .div-wrapper {
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .text-wrapper-3 {
    position: relative;
    width: 300px;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #3f3f95;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .parteneri {
    display: flex;
    width: 1440px;
    height:80px;
    align-items: center;
    justify-content: center;
    gap: 57px;
    padding: 40px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #6f6fa7;
    box-shadow: 0px 4px 4px #00000040;
    top:2020px;
  }

  .individual-news-page .text-wrapper:hover {
    color: #82d5e8; /* Change the color on hover */
  }
  
  
  .individual-news-page .pepenero {
    position: relative;
    width: 150px;
    height: 40px;
    /* top: 30px; */
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .pepenero:hover {
    transform: scale(1.1);
    }
  
  .individual-news-page .mihu {
    position: relative;
    width: 180px;
    height: 60px;
    /* top: 30px; */
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .mihu:hover {
    transform: scale(1.1);
    }
  
  
  .individual-news-page .celestin {
    position: relative;
    /* width: 280px;
    height: 90px; */
    /* top: 30px; */
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .celestin:hover {
    transform: scale(1.1);
    }
  
  
  .individual-news-page .vivendi {
    position: relative;
    width: 160px;
    height: 60px;
    object-fit: cover;
    /* top: 30px; */
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .vivendi:hover {
    transform: scale(1.1);
    }
  
  .individual-news-page .iulius-mall {
    position: relative;
    width: 89.52px;
    height: 107px;
    /* top: -10px; */
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .iulius-mall:hover {
    transform: scale(1.1);
    }
  
  .individual-news-page .urban {
    position: relative;
    /* width: 270px;
    height: 107px; */
    object-fit: cover;
    /* top: 30px; */
    transition: transform 0.3s ease-in-out;
  }

  .individual-news-page .urban:hover {
    transform: scale(1.1);
    }
  
  .individual-news-page .subsol {
    display: flex;
    width: 1440px;
    height: 150px;
    align-items: center;
    justify-content: center;
    gap: 102px;
    padding: 40px 0px;
    position: absolute;
    background-color: #d5d5e8;
    top:2170px;
    left:0;
  }
  
  .individual-news-page .sigla-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -1.5px;
    margin-bottom: -1.5px;
  }
  
  .individual-news-page .sigla-2 {
    position: relative;
    width: 178px;
    height: 178px;
    object-fit: cover;
  }
  
  .individual-news-page .date-de-contact {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .individual-news-page .retele {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .individual-news-page .img-3 {
    position: relative;
    width: 48px;
    height: 48px;
  }
  